{% extends 'WebUser/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   
    <table border="1" align="center" cellpadding="10">
       <tr>
        <td colspan="2" align="center">
            <img src="{{userdata.boat_photo.url}}" width="50" height="50" alt="">
        </td>
       </tr>
        <tr>
            <td>Type</td>
            <td>{{userdata.boattype.boattype_name}}</td>
        </tr>
        <tr>
            <td>BoatName</td>
            <td>{{userdata.boat_name}}</td>
        </tr>
        <tr>
            <td>Details</td>
            <td>{{userdata.boat_details}}</td>
        </tr>
        <tr>
            <td>Rate</td>
            <td>{{userdata.boat_rate}}</td>
        </tr>
  
        <tr>
            <td>Owner</td>
            <td>{{userdata.owner.owner_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{userdata.owner.owner_contact}}</td>
        </tr>
       
   
    </table>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            
            <tr>
                <td>Message</td>
                <td><textarea name="txtmsg" rows="3" cols="22"></textarea></td>
            </tr>
            <tr>
                <td>ForDate</td>
                <td><input type="date" name="txtdate" required></textarea></td>
            </tr>
         
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
{% endblock content%}