{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Admin/assets/img/favicon.ico' %}">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="{% static 'Admin/assets/img/about2.jpg' %}" width="35" height="35" alt=""> <span>Welcome To AdminPanel</span>
				</a>
			</div>
			
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="{% url 'WebAdmin:LoadingHomePage' %}"><i class="fa-solid fa-globe"></i> <span>Home</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:districtInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>District</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:placeInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>Place</span></a>
                        </li>
                        
                        <li>
                            <a href="{% url 'WebAdmin:adminInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>AdminRegistration</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:CategoryInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>Category</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:SubCatInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>SubCategory</span></a>
                        </li>

                        <li>
                            <a href="{% url 'WebAdmin:BrandInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>Brand</span></a>
                        </li>

                        <li>
                            <a href="{% url 'WebAdmin:ServiceTypeInsertSelect' %}"><i class="fa-solid fa-globe"></i> <span>ServiceType</span></a>
                        </li>


                        <li>
                            <a href="{% url 'WebAdmin:userListNew' %}"><i class="fa-solid fa-globe"></i> <span>UserList</span></a>
                        </li>
                        


                        <li>
                            <a href="{% url 'WebAdmin:shopListNew' %}"><i class="fa-solid fa-globe"></i> <span>ShopVerification</span></a>
                        </li>
                        


                        <li>
                            <a href="{% url 'WebAdmin:workshopListNew' %}"><i class="fa-solid fa-globe"></i> <span>WorkShopVerification</span></a>
                        </li>
                       




                        <li>
                            <a href="{% url 'WebAdmin:ComplaintListNew' %}"><i class="fa-solid fa-globe"></i> <span>NewComplaints</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:ComplaintSolved' %}"><i class="fa-solid fa-globe"></i> <span>SolvedComplaints</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebAdmin:UserFeedbackNew' %}"><i class="fa-solid fa-globe"></i> <span>FeedBack</span></a>
                        </li>
                        <li>
                            <a href="{% url 'WebGuest:Login' %}"><i class="fa-solid fa-globe"></i> <span>Logout</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content" id="tab" align="center">
                <!-- <div class="row"> -->
        {% block content %}

        {% endblock content %}