{% extends 'WebWorkShop/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchJob</title>
</head>
<br><br>
<body>
    
   
    <a href="{% url 'WebWorkShop:requestServiceList' %}">NewRequest</a>/<a href="{% url 'WebWorkShop:requestServiceListAccepted' %}">ServiceListAccepted</a>/<a href="{% url 'WebWorkShop:requestServiceListRejected' %}">ServiceListRejected</a>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>ServceType</th>
            <th>ServiceName</th>
            <tH>Details</tH>
            <th>ServiceRate</th>
            <tH>BoatOwner</tH>
            <th>Contact</th>
            <th>Email</th>
            <th>Place</th>
            <th>Message</th>
           <th>RequestedDate</th>
            <th>Action</th>
        </tr>
        {% for i in userdata %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.service.servicetype.servicetype_name}}</td>
            <td>{{i.service.service_name}}</td>
            <td>{{i.service.service_details}}</td>
            <td>{{i.service.service_rate}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.user.user_contact}}</td>
            <td>{{i.user.user_email}}</td>
            <td>{{i.user.place.place_name}}</td>
            <td>{{i.request_message}}</td>
            <td>{{i.request_postdate}}</td>
            
            
            <td>
                <a href="{% url 'WebWorkShop:AssignNowRequest' i.id %}">AssignNow</a>
                <a href="{% url 'WebWorkShop:completerequest' i.id %}">MarkAsCompleted</a>
            </td>
           
        </tr>
        {% endfor %}

    </table>
    
    

</body>
</html>


{% endblock content%}